[{kernel,
  [{logger_level, all},
    {logger,
      [{handler, default, logger_std_h,
        #{ level => debug,
            formatter => {logger_formatter, #{single_line => false}}}}
      ]}]},
  {grpcbox, [
    {client, #{channels => [{default_channel, [{https, "verbit.in-berlin.de", 8443, [
      {certfile, "config/client.crt"},
      {keyfile, "config/client.key"},
      {cacertfile, "config/ca.crt"}
    ]}], #{}}]}}
  ]},
  {erlexec, [{root, true}, {user, "root"}]}
].
