{erl_opts, [debug_info]}.
{deps, [
    {khepri, "0.7.0"},
    {thoas, "1.0.0"},
    {grpcbox, "0.16.0"},
    {cowboy, "2.10.0"},
    {mochiweb, "3.1.2"},
    {erlexec, "~> 2.0"}
]}.

{relx, [
    {release, {virtuerl, git}, [virtuerl, {khepri, load}, {mnesia, load}]},
    {mode, prod}
]}.

{plugins, [grpcbox_plugin]}.
{grpc, [
    {out_dir, "src/pb"},
    {protos, "../protos/minivirt"},
    {gpb_opts, [{module_name_suffix, "_pb"}, {i, "../protos"}, {o, "src/pb"}]}
    ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [virtuerl]}
]}.
